*{
    padding: 0; margin: 0; box-sizing: border-box;
}

#header{
    background-image: url(images/b2.png);
    height: 102vh;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right;
}

.container{
    margin-left: 10%;
}
#logo{
    width: 5%;
    height: 5%;
}

.header-text{
    margin: 50px 40px;
    max-width: 400px;
}

h1{
    color: #6c63ff;
    font-size: 40px;
}

.header-text p{
    padding: 10px 10px;
    font-weight: bold;
    font-size: 20px;
}
